@ExtraCaption

<table class="table">
    <thead>
        <tr>
            <th scope="col">Module Id</th>
            <th scope="col">Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Course Id</th>
            <th scope="col">View</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var module in ModuleLst)
        {
            <tr>
                <td scope="row">@module.Id</td>
                <td scope="row">@module.Name</td>
                <td scope="row">@module.StartDate</td>
                <td scope="row">@module.EndDate</td>
                <td scope="row">@module.CourseId</td>
                <td scope="row"><a href="@($"moduleview/{module.Id}")" class="btn btn-outline-primary">View</a></td>
            </tr>
        }
    </tbody>
</table>