@ExtraCaption

<table class="table">
    <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Course Id</th>
            <th scope="col">View</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in UserLst)
        {
         <tr>
                <td scope="row">@user.Id</td>
                <td scope="row">@user.FirstName</td>
                <td scope="row">@user.LastName</td>
                <td scope="row">@user.Email</td>
                <td scope="row">@user.CourseId</td>
                <td scope="row"><a href="@($"userview/{user.Id}")" class="btn btn-outline-primary">View</a></td>
                <td scope="row"><a href="@($"userupdate/{user.Id}")" class="btn btn-outline-primary">Update</a></td>
                <td scope="row"><a href="@($"userdelete/{user.Id}")" class="btn btn-outline-primary">Delete</a></td>
         </tr>   
        }
    </tbody>
</table>
