@page "/activityupdate/{Id:int}"

@attribute [Authorize(Roles = "Admin, Teacher")]

<h3>ActivityUpdate</h3>

@* <Section class=""> *@
<EditForm Model="@Activity" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Module ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               
                <td scope="row">
                    <InputText id="FirstName" @bind-Value="Activity.Name" class="form-control col-md-8"></InputText>
                    <ValidationMessage For="@(()=>Activity.Name)"></ValidationMessage>
                </td>
                <td scope="row">
                    <InputDate id="LastName" @bind-Value="Activity.StartDate" class="form-control col-md-8"></InputDate>
                    <ValidationMessage For="@(()=>Activity.StartDate)"></ValidationMessage>
                </td>
                <td scope="row">
                    <InputDate id="LastName" @bind-Value="Activity.EndDate" class="form-control col-md-8"></InputDate>
                    <ValidationMessage For="@(()=>Activity.EndDate)"></ValidationMessage>
                </td>
                <td scope="row">
                    <InputNumber id="Email" @bind-Value="Activity.ModuleId" class="form-control col-md-8"></InputNumber>
                </td>
                
            </tr>
        </tbody>
    </table>
    <a href="@("listofusers")" class="btn btn-outline-primary">Back to User List</a>&nbsp;
    <button type="submit" class="btn btn-primary me-1">Update User</button>
</EditForm>
@* </Section> *@
