@page "/CourseView/{Id:int}"
@inject HttpClient Http
<h3>Course</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Course Id</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Start Date</th>
            <th scope="col">Course End Date</th>
            <th scope="col">Course Description</th>

        </tr>
    </thead>
    <tbody>
            <tr>
                <td scope="row">@Course.Id</td>
                <td scope="row">@Course.Name</td>
                <td scope="row">@Course.StartDate</td>
                <td scope="row">@Course.EndDate</td>
                <td scope="row">@Course.Description </td>
             </tr>
        
    </tbody>

</table>
<a href="@($"/CourseLst")" class="btn btn-outline-primary">Back to Course list</a>

