@page "/coursedelete/{Id:int}"
@inject HttpClient Http



@attribute [Authorize(Roles = "Admin, Teacher")]
<h3>Course Delete</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Course Id</th>
            <th scope="col">Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">@Course.Id</td>
            <td scope="row">@Course.Name</td>
            <td scope="row">@Course.StartDate.ToString("yyyy-MM-dd")</td>
            <td scope="row">@Course.EndDate)</td>
            <td scope="row">@Course.Description</td>
        </tr>
    </tbody>
</table>
<a href="@($"CourseLst")" class="btn btn-outline-primary">Back to Course list</a>

<AuthorizeView Roles="Admin, Teacher">
    <Authorized>
        <a class="btn btn-outline-primary" @onclick="Delete">Delete</a>
    </Authorized>
</AuthorizeView>