@ExtraCaption
<h3>List of courses </h3>




<table class="table">
    <thead>
        <tr>
            <th scope="col">Course Id</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Start Date</th>
            <th scope="col">Course Description</th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var Course in CourseLst)
        {
            <tr>

                <td scope="row">@Course.CourseId</td>
                <td scope="row">@Course.Name</td>
                <td scope="row">@Course.StartDate</td>
                <td scope="row">@Course.Description </td>
               
               @*  <td scope="row"><a href="@($"DeviceView/{Course.DeviceId}")" class="btn btn-outline-primary">View </a> </td>@* reference page ro miarim ba id devive age bekhaim *@
               @*@ <td scope="row"><a href="@($"DeviceDelete/{device.DeviceId}")" class="btn btn-outline-primary">Delete</a></td>@* reference page ro miarim ba id devive age bekhaim *@
               @*d scope="row"><a href="@($"DeviceUpdate/{device.DeviceId}")" class="btn btn-outline-primary">Update</a></td>@* reference page ro miarim ba id devive age bekhaim *@
               @*d scope="row"><a href="@($"DeviceAdd/{device.DeviceId}")" class="btn btn-outline-primary">Edit</a></td>@* reference page ro miarim ba id devive age bekhaim *@ 
            </tr>

        }
    </tbody>
</table>